#Football, #Tennis, #Basketball, #Baseball{
  margin: 55px;
  padding: 15px;

}
.game:hover{
  cursor: pointer;

}

.container-selectGame{
  margin: auto;
  width: 100%;
  padding-top: 15px;
  background-origin: border-box;
  border-radius: 0px;
}
/* background-image: url("background.jpg")          imagen de fondo  */
.tittle-game{
  color: white;
  font-size: 40px;
  color: rgba(250, 0, 0, 0.5);
  background-color: white;
  border-radius: 10px;
  margin: auto;
  width:50%;
}
/* svg eliminado */
/* .ready{
  width: 190px;
  height: 190px;
  margin: 0 auto;
  transition: transform .4s;
  max-height: 200px;
} */
/* .ready:hover{
  transform: scale(1.1);
} */




figure.game {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 130px;
  max-width: 415px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  background-color: rgba(20, 0, 0, 0.5);

  border-radius: 30px;

}
figure.game *,
figure.game *:before,
figure.game *:after {
  -webkit-box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}
figure.game img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  opacity: 0.9;
}
figure.game .title {
  position: absolute;
  top: 59%;
  left: 25px;
  padding: 5px 10px 10px;
}
figure.game .title:before,
figure.game .title:after {
  height: 2px;
  width: 400px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.game .title:before {
  top: 0;
  left: 10px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

}
figure.game .title:after {
  bottom: 0;
  right: 10px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
figure.game .title div:before,
figure.game .title div:after {
  width: 2px;
  height: 300px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.game .title div:before {
  top: 10px;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
figure.game .title div:after {
  bottom: 10px;
  left: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
figure.game h2,
figure.game h4 {
  margin: 0;
  text-transform: uppercase;
}
figure.game h2 {
  font-weight: 400;
}
figure.game h4 {
  display: block;
  font-weight: 700;
  background-color: #ffffff;
  padding: 5px 10px;
  color: #000000;
}
figure.game figcaption {
  position: absolute;
  bottom: 42%;
  left: 25px;
  text-align: left;
  opacity: 0;
  padding: 5px 60px 5px 10px;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1.5px;
}
figure.game figcaption p {
  margin: 0;
}
figure.game a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.game:hover img,
figure.game.hover img {
  zoom: 1;
  filter: alpha(opacity=35);
  -webkit-opacity: 0.35;
  opacity: 0.35;
}
figure.game:hover .title:before,
figure.game.hover .title:before,
figure.game:hover .title:after,
figure.game.hover .title:after,
figure.game:hover .title div:before,
figure.game.hover .title div:before,
figure.game:hover .title div:after,
figure.game.hover .title div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
figure.game:hover .title:before,
figure.game.hover .title:before,
figure.game:hover .title:after,
figure.game.hover .title:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
figure.game:hover figcaption,
figure.game.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
